*{
    scroll-behavior: smooth;
}

.App {
    padding: 1vw 5vw;
    font-family: "Inter", sans-serif;
}

/* Nav Css */
nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: space-between;
}
.hamber{
    color: white;
    font-size: 30px;
    padding-right: 20px;
    display: none;
}


.logo h1 {
    color: white;
    font-size: 25px;
}

.logo span {
    color: #3182ED;
}

.navlink {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink li {
    font-size: 15px;
    margin-left: 30px;
    color: white;
}

.navlink li:hover {
    color: #3182ED;
}

.live {
    position: absolute;
    margin-left: 7px;
    color: rgb(135, 27, 27);
    font-size: 8px;
    margin-top: 6.6px;
}

.searchandsingin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchandsingin input {
    height: 35px;
    margin-right: 20px;
    width: 25vw;
    border-radius: 20px;
    padding: 5px 15px;
    outline: none;
    background-color: #162032;
    /* position: relative; */
    border: none;
    color: white;
    font-size: 15px;
}

input ::placeholder {
    color: grey;
}

form {
    position: relative;
}

.searchandsingin form i {
    position: absolute;
    right: 0;
}

.icon {
    padding: 10px;
    min-width: 40px;
    color: #3182ED;
    /* float: right; */
}

.searchandsingin h2 {
    font-size: 15px;
    color: white;
}

.searchandsingin h2:hover {
    color: #3182ED;
}
@media screen and (max-width:856px){
    .hamber{
        display: block;
    }
    .logo ul{
        display: none;
    }
    .searchandsingin input{
        min-width: 200px;
    }
}
@media screen and (max-width:456px){
    nav{
        display: flex;
        flex-direction: column;
    }
}
.navlinkhamber{
    list-style: none;
text-align: center;
color: white;
transition: all ease-in-out 1s;
/* display: none; */
}
.navlinkhamber li{
    padding: 10px;
    font-size: 15px;
}
.navlinkhamber li:hover{
    color: #3182ED;
}
@media screen and (min-width:856px){
    .navlinkhamber{
        display: none !important;
    }
}
/* poster css */
.poster {
    overflow: hidden;
    margin-top: 60px;
    border-radius: 30px;
    height: 400px;
    width: 100%;
    position: relative;
}

.poster img {
    z-index: -1;
    width: 100%;
    height: 100%;

    transition: all 0.5s;
}

.poster:hover img {
    transform: scale(1.1);
}

.poster-details {
    position: absolute;
    z-index: 100;
    color: white;
    bottom: 50px;
    left: 50px;
    /* border: 100px solid red; */
}

.poster-features ul {
    display: flex;
    list-style: none;

}

.poster-features ul li {
    margin-right: 20px;
}

.poster-features ul li i {
    color: #3182ED;
    margin-right: 5px;
}

.poster-title {
    /* margin-left: 50px; */
    font-size: 20px;

}

@media screen and (max-width:756px){
    .poster{
        display: none;
    }
}


/* filter category */

.filterbox {
    margin-top: 40px;
    background-color: #162032;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
@media screen and (max-width:756px){
    .filterbox{
        flex-direction: column;
    }
    .categories{
        margin-bottom: 15px;
    }
}
.categories {
    display: flex;
    gap: 30px;
}

select {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    outline: none;
    width: fit-content;
}

option {
    background-color: #162032;
    color: white;
    margin: 5px 20px;
}

.filter-buttons {
    background-color: #131720;
    padding: 8px 15px;
    /* border: 20px solid red; */
    border-radius: 20px;
    position: relative;
    z-index: 10;
}

.filter-buttons button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: white;
    padding: 5px 15px;
    /* width: 100%; */
    height: 33%;
    border-radius: 20px;
    transition: all ease-in 0.3s;

}

.filter-buttons button:focus {
    background-color: #162032 !important;
    color: #3182ED;
    border: none;
}


/* moviecard */
.moviecards {
    display: flex;
    /* flex-direction: row-reverse; */
    /* border: 1px solid red; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    /* width: 180px; */
    margin-top: 50px;
}

.moviesmlcard {
    /* width: 500px; */
    flex-grow: 1;
    flex-basis: 180px;
    position: relative;
    width: 180px;
    max-width: 200px;
    height: 400px;
    color: white;
    overflow: hidden;
    /* border: 1px solid red; */
    /* border-radius: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie-img{
    width: 100%;
    /* border: 1px solid red; */
    height: 300px;
    overflow: hidden;
    border-radius: 30px;
   
}
/* @media screen and (max-width:550px){

} */
.moviesmlcard img {
    width: 100%;
   height: 300px;
    transition: all 0.5s;
    
   
}

.moviesmlcard h2 {
    font-size: 1rem;
    margin: 5px 0px;
    font-weight: 500;
    height: 50px;
    text-align: center;
}

.moviesmlcrd-otr {
    display: flex;
    width:100%;
    justify-content:space-evenly;
    font-size: 0.6rem;
    opacity: 0.6;
}

.onmoviecmlcardhover {
    position: absolute;
    /* z-index: 10; */
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}

.onhoveritem {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    color: #3182ED;
}

i span {
    color: white;
    font-size: 12px;
}

.play {
    position: absolute;
    top: 30%;
    left: 40%;
    /* z-index: -10; */
    font-size: 60px;
    opacity: 0.8;
    display: none;
}
.moviesmlcard:hover h2{
    /* display: none; */
    color: #3182ED;
}
.moviesmlcard:hover .play{
    display: block;
}
.moviesmlcard:hover .onmoviecmlcardhover{
    display: block;
}
.moviesmlcard:hover img{
    transform: scale(1.1);
    filter: blur(5px);
}
.seemorebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.seemorebtn button{
    background-color: #162032;
    border: none;
    color: white;
    padding: 25px  40px;
    font-weight: 600;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all 0.5s;
}
.seemorebtn button:hover{
    background-color: #3182ED;
}



